module.exports = {
  apps: [{
    name: "LanManager_Web",
    instances: 1,
    max_restarts: 2,
    env: {
      "NODE_ENV": "development",
      "application": "Web",
      "PORT": "10028",
      "IP": "localhost",
      "saltRounds": "10",
      "DB_PORT": "",
      "WebPanelURL": "",
      "WebSocketURL": "192.168.0.80:10027",
      "WebTokenLength": "64",
      "WebTokenDurationH": "48",
      "DB_USER": "LanPartyTest",
      "DB_HOST": "192.168.0.95",
      "DB_NAME": "LanPartyManager",
      "DB_PASSWORD": "",
      "Company_Name": "",
      "plug_power_graph": "60"
    },
    script: "./Web/index.js"
  }, {
    name: "LanManager_TGBot",
    instances: 1,
    max_restarts: 2,
    env: {
      "NODE_ENV": "development",
      "application": "TGBot",
      "Telegram_Bot_Botname": "",
      "Telegram_Bot_Token": "",
      "Fallback_Language": "de",
      "WebPanelURL": "",
      "DB_USER": "LanPartyTest",
      "DB_HOST": "192.168.0.95",
      "DB_NAME": "LanPartyManager",
      "DB_PASSWORD": "",
      "DB_PORT": "",
      "Company_Name": "",
      "Company_Name_Url": "",
    },
    script: "./Telegram/index.js"
  }, {
    name: "LanManager_PlugServer",
    instances: 1,
    max_restarts: 2,
    env: {
      "NODE_ENV": "development",
      "application": "PlugServer",
      "WebPanelURL": "",
      "PORT": "10027",
      "DB_USER": "LanPartyTest",
      "DB_HOST": "192.168.0.95",
      "DB_NAME": "LanPartyManager",
      "DB_PASSWORD": "",
      "DB_PORT": "",
      "Influx_Enable": "false",
      "Influx_Host": "",
      "Influx_Protocol": "http",
      "Influx_Port": "8086",
      "Influx_Token": "",
      "Infux_Bucket": "LANParty",
      "Influx_Orga": "EBG",
      "Company_Name": "",
      "plug_power_cache": "60",
      "write_to_pg_every": "120",
    },
    script: "./PlugsServer/index.js"
  }]
}
