name: Build binarys

on:
  push:
    branches: [master]
    paths: [PlugsClient/**]
  workflow_dispatch:
  
jobs:
  ubuntu:
    name: Build PlugClient
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: 16.x
        cache: npm
    - name: Build
      run: |
        cd ./PlugsClient
        npm install
        npm install -g pkg
        pkg -t node16-win,node16-linux,node16-linux-arm64, index.js -o plugclient
    - name: Commit build
      run: |
        git config --global user.name github-actions[bot]
        git config --global user.email 41898282+github-actions[bot]@users.noreply.github.com
        git add ./PlugsClient/plugclient-linux-arm64
        git add ./PlugsClient/plugclient-linux-x64
        git add ./PlugsClient/plugclient-win-x64.exe
        git commit -am "Automated binary build"
        git push